<header>Oshalekan hanamoto</header>
<div class="container">
    <div class="row">
        <div class="main-visual col-xs-12 col-md-10 col-md-offset-1"></div>
        <div class="main col-xs-12 col-md-10 col-md-offset-1">
            <div class="row">
                <div class="info col-xs-12 col-md-8 col-md-offset-2"><%= render "info" %></div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <p>Oshalekan hanamoto All Rights Reserved.</p>
</footer>


